div {
    border: 2px solid red;
    color: white;
}

#one {
    position: relative;
    width: 600px;
    height: 400px;
    background-color: green;
}

#two {
    position: absolute;
    top: 120px;
    right: 20px;
    width: 300px;
    height: 200px;
    background-color: blue;
}