h1 {
    width: 100%;
    height: 100px;
    color: red;
}

.emphasize {
    color: royalblue;
}

#promote {
    color: seagreen;
}

.logic {
    color: purple;
}

.gravity {
    color: orangered;
}

.power {
    color: greenyellow;
}
