div {
    width: 100px;
    height: 100px;
    background-color: salmon;
    border: 2px solid black;
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    height: 600px;
    width: 1000px;
}