div {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 100%;
    background-color: yellow;
    margin: auto;
    display: inline-block;
}

div:hover {
    background-color: blue;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 500ms;
}