html {
    border: solid 1px blue;
    border-style: dotted;
}

body {
    border: 1px blue; 
    border-style: dotted;
    margin: 100px;
}

div {
    display: block;
    width: 120px;
    height: 60px;
    border: solid 2px black; 
    border-radius: 10px;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
}

#first {
    background-color: red;
}

#second {
    background-color: blue;
}

#third {
    background-color: yellow;
}

#fourth {
    background-color: green;
}