body {
    width: 80%;
    margin: 0 auto;
    padding-top: 30px;
}

h1 {
    text-shadow: 2px 2px 1px black;
}

div {
    font-family: serif;
    font-size: xx-large;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 20px;
}

p {
    font-family: sans-serif;
}

p::first-line {
    text-indent: 10px;
}

#one {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 100;
}

#two {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;    
}

#three {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    text-decoration: line-through;    
}

#four {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;    
}

#five {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;    
}

#six {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 900;    
}

p::first-letter {
    font-family: 'Franklin Gothic Medium';
    font-size: 36px;
    line-height: .5;
}

a {
    text-decoration: none;
    font-size: xx-large;
    text-align: center;
}

a:hover {
    text-decoration: underline;
}